In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.930862  0.857572  2.079567 -1.572827
2013-01-02  0.961918  0.473120  0.075684  2.113087
2013-01-03 -1.713708  0.353105 -0.068909 -0.796924
2013-01-04 -1.063978  1.870139 -0.312724 -0.845984
2013-01-05  0.664083  0.290409 -1.657055 -0.566904
2013-01-06  0.489320 -1.752221 -0.131049 -1.944178

In [5]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [6]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [7]:
index = pd.date_range("1/1/2000", periods=8)
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=["A", "B", "C"])

df

                   A         B         C
2000-01-01  0.453207  0.660120 -1.287900
2000-01-02 -0.920334  0.930463 -1.528122
2000-01-03  0.658663 -1.282228  0.590671
2000-01-04 -0.300240  0.765096 -0.184458
2000-01-05  0.140700  0.255675  0.640033
2000-01-06 -0.786016 -0.232558 -0.871078
2000-01-07 -1.058223  0.062863 -0.808828
2000-01-08  0.511093  0.106522  0.107382

In [8]:
long_series = pd.Series(np.random.randn(1000))
long_series.head()

0    0.204302
1   -0.035122
2   -0.864100
3    0.560135
4   -0.048142
dtype: float64

In [9]:
long_series.head(3)

0    0.204302
1   -0.035122
2   -0.864100
dtype: float64

In [10]:
long_series.tail(4)

996    0.819879
997   -1.068946
998   -1.497965
999   -0.240915
dtype: float64